body{
    margin: 0%;
    padding: 0%;
}

header{
    display: flex;
    background-color: rgb(55, 54, 55);
    height: auto;
}
.logo{
    display: flex;
    align-items: start;
    margin: 10px;
    justify-content: start;
    flex-grow: 1;
}

.contentmenu{
    text-decoration: none;
    color: white;
}
.utilisateur{

    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: right;
    color: white;
    margin: 10px;
}

div h1{
    align-items: center;
    justify-content: center;
}

ul{
    margin: 0%;
    padding: 0%;
}

.menu{
    display: flex;
    font-size: 25px ;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
 }

a.button{
    display: flex;
    text-decoration: none;
    color: black;
    align-items: center;
}

div.authname{
    display: flex;
}

.fas.fa-sign-out-alt{
    margin-left: 7px;
    font-size: 20px;
}

p.connected{
    display: flex;
    align-items: center;
}